
* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}

h2{
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #173b1bdf;
    color: #fff;
  }

  main{
    background-color: rgba(152, 190, 167, 0.67);
  }

  main h2{
    color: rgba(13, 51, 18, 0.711);
  }

  main p {
    color: rgba(13, 51, 18, 0.711);
    line-height: 1.3;
}

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav li a{
    text-decoration: none;
    color: white;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.colum {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.colum img{
    max-width: 400px;
    max-height: 200px;
}

footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
        background-color: #173b1bdf;
        color: #fff;
    
}

footer p{
    color: rgb(255, 255, 255);
}

footer h2{
    color: rgb(255, 255, 255);
}

footer ul {
    display: flex;
    justify-content: space-between;
  }

  footer li a{
    text-decoration: none;
    color: white;
  }

@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }